@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #0d0618;
  color: white;
}

#root {
  min-height: 100vh;
}

@keyframes slide-across {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(900%);
  }
}

.slide-image-animation {
  position: fixed;
  top: 40%;
  left: 0;
  width: 200px;
  animation: slide-across 6.5s linear forwards;
  pointer-events: none;
  z-index: 9999;
}